.idea
.DS_Store
**/__pycache__
./__pycache__
api/__pycache__
.env
.netlify
.redwood
dev.db*
dist
dist-babel
node_modules
yarn-error.log
web/public/mockServiceWorker.js
web/types/graphql.d.ts
api/types/graphql.d.ts
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.editorconfig
.env.defaults
.env.example
.nvmrc
.yarnrc.yml
.vscode
.yarn/releases
__pycache__/
