body {
  margin-top: 20px;
  margin:9px;
  color:#241716;
  font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  font-size: 18px;
}

.text-field-searchbar{
  width: 35% !important;
  float: left !important;
  margin-right: 40px !important;
  margin-top: 10px !important;
}

/* .searchbar-company {
  margin-bottom: 80px !important;
  margin-top: 50px !important;
  margin-left: 10px !important;
} */