body {
  margin-top: 20px;
  margin:9px;
  color:#241716;
  font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  font-size: 18px;
}
.loader {
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
}

.loader,
.loader-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-message {
  font-size: 1.1em;
  margin-top: 1em;
} 